build
composer.lock
vendor
docs
.idea
/.phpunit.cache
/.phpunit.result.cache
tester.php
/src/Collectors/DeviceMetricCollector.php
/src/Collectors/SessionMetricCollector.php
/src/Metrics/Definition/Device/
